{
    "presets": [
        [
            "@babel/env",
            {
                "modules": false,
                "targets": {
                    "electron": "2"
                },
                "useBuiltIns": "usage"
            }
        ],
        "@babel/typescript"
    ],
    "plugins": [
        "@babel/plugin-syntax-jsx",
        ["babel-plugin-inferno", { "imports": true }],
        "@babel/syntax-dynamic-import",
        "@babel/plugin-syntax-object-rest-spread",
        "@babel/plugin-syntax-class-properties",
        "@babel/plugin-proposal-object-rest-spread",
        "@babel/plugin-proposal-class-properties"
    ]
}
