@import 'scss/typo';
@import 'scss/reset';
@import 'scss/forms';
@import 'scss/vars';

html,
body {
    background: rgba(0, 0, 0, 0);
}

body {
    color: $color-foreground;
}

a {
    color: $color-accent;
    text-decoration: none;
}
