@import 'scss/reset';
@import 'scss/forms';
@import 'scss/vars';

body {
    background: $color-background;
    color: $color-foreground;
}

.app {
    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-columns: 5rem 1fr;

    &--nomenu {
        grid-template-columns: 1fr;
    }
    &__menu {
        grid-area: menu;
        height: 100%;
    }
}

code {
    font-size: fz(1);
}
