.page {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;

    &__content {
        position: relative;
        height: 100vh;
        width: 100vw;
    }
    &__background {
        position: absolute;
        width: 100vw;
        height: 100vh;
        z-index: 0;
        transform-origin: center center;
        transform: scale(1.1);
        transition: all 100ms ease-out;
    }
}
