@import 'scss/reset';
@import 'scss/vars';
*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
}

body.loading{
    width: 100vw;
    height: 100vh;
    background: $background;
    color: $foreground;
    position: relative;
    font-family: sans-serif;

    span{
        position: absolute;
        left: 50%;
        top: 50%;
        font-size: fz(2);
        transform: translate(-50%, -50%);
    }
}