
/**
 * font-scale function
 * fz(0) is the default font-size
 * fz(1) is slightly larger, fz(-1) smaller, etc
 */
 // set the default sizes. we want to grow by a modifier of 1.2
 $scale: (
    base: 1em,
    modifier: 1.2
);
@function pow($number, $exponent) {
    $value: 1;
    @if $exponent > 0 {
        @for $i from 1 through $exponent {
            $value: $value * $number;
        }
    }
    @return $value;
}
// the actual fontsize formula is the following: $base * ($modifier^$ratio)
// see
// http://www.modularscale.com/?1&em&1.2
// for a visualization (click on 'sass' in the sidebar to see the scale
@function fz($ratio) {
    $value: 1;
    @if ($ratio > 0) {
        $value: pow(map-get($scale, "modifier"), $ratio) * map-get($scale, "base");
    } @else {
        $value: pow((1 / map-get($scale, "modifier")), -$ratio) * map-get($scale, "base");
    }
    @return $value;
}