@import "vars";

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    // normalize 1rem to 10px if using default font sizes
    font-size: percentage(10/16);
}

body{
    background: $background;
    color: $foreground;
    font-size: 1.6rem;
    font-family:  -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;

}
