@import 'vars';

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    // normalize 1rem to 10px if using default font sizes
    font-size: percentage(10/16);
}

body {
    background: $color-background;
    color: $color-foreground;
    font-size: 1.6rem;
    font-family: 'Open Sans', sans-serif;
}

input,
textarea,
select,
button {
    font-family: 'Open Sans', sans-serif;
}
