@font-face {
    font-family: 'Open Sans';
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    src: url('../assets/fonts/OpenSans/OpenSans-Light.woff2') format('woff2');
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 300;
    font-style: italic;
    font-stretch: normal;
    src: url('../assets/fonts/OpenSans/OpenSans-LightItalic.woff2') format('woff2');
}
@font-face {
    font-family: 'Open Sans';
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    src: url('../assets/fonts/OpenSans/OpenSans-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    src: url('../assets/fonts/OpenSans/OpenSans-SemiBold.woff2') format('woff2');
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 600;
    font-style: italic;
    font-stretch: normal;
    src: url('../assets/fonts/OpenSans/OpenSans-SemiBoldItalic.woff2') format('woff2');
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    src: url('../assets/fonts/OpenSans/OpenSans-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 700;
    font-style: italic;
    font-stretch: normal;
    src: url('../assets/fonts/OpenSans/OpenSans-BoldItalic.woff2') format('woff2');
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    src: url('../assets/fonts/OpenSans/OpenSans-ExtraBold.woff2') format('woff2');
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 800;
    font-style: italic;
    font-stretch: normal;
    src: url('../assets/fonts/OpenSans/OpenSans-ExtraBoldItalic.woff2') format('woff2');
}
