$color-primary: #007bff;
$color-secondary: #17bebb;
$color-accent: #ff6e09;
$color-white: #e4e5e7;
$color-black: #080808;

$color-gray: #6f7376;
$color-gray-dark: darken($color-gray, 40%);
$color-gray-light: lighten($color-gray, 30%);

$color-error: #ff3c38;
$color-warning: #fc8f30;
$color-success: #58cc5c;
$color-info: #08415c;

$color-pc: $color-accent;
$color-ps4: #003791;
$color-xbox: #108710;

$color-background: #181b1f;
$color-foreground: #fafafa;

$color-divider-light: rgba($color-foreground, 0.1);
$color-divider-dark: rgba($color-background, 0.1);

$br: 3px;

$screen-medium: 800px;
$screen-large: 1200px;

@import 'fontscale';
@import 'breakpoints';
@import 'mixins';
@import 'animations';
