$primary: #007bff;
$secondary: #17bebb;
$accent: #ff6e09;
$background: #383838;
$foreground: #fafafa;

$br: 3px;

$screen-medium: 800px;
$screen-large: 1200px;

@import 'fontscale';
@import 'breakpoints';
