@import 'scss/vars';

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80px;
    height: 100%;
    padding: 1em;
    background: rgba($color-background, 0.9);

    &__avatar {
        position: relative;
        display: flex;
        align-items: center;

        img {
            width: 48px;
            height: 48px;
            border-radius: 50%;
            @include boxshadow;
        }

        &--dot {
            position: absolute;
            display: block;
            top: 1px;
            right: 0;
            background: $color-error;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            @include boxshadow;
        }
        &--tooltip {
            display: flex;
            visibility: hidden;
            position: absolute;
            left: 80px;
            background: rgba($color-background, 0.95);
            border-radius: $br;
            padding: 0.5em 1em;
            opacity: 0;
            letter-spacing: 0.035em;
            white-space: nowrap;
            @include ease-in-out(opacity, 200ms);
        }

        @include hover-focus-active {
            .sidebar__avatar--tooltip {
                visibility: visible;
                opacity: 1;
            }
        }
    }

    &__divider {
        width: 100%;
        height: 1px;
        margin: 1em 0;
        background: $color-divider-light;
    }

    &__item {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $color-foreground;
        padding: 1em 0;
        width: 100%;

        &:first-child {
            padding-top: 0.5em;
        }
        &:last-child {
            padding-bottom: 0.5em;
        }

        &--icon {
            width: 22px;
            color: $color-foreground;
        }
        &--tooltip {
            display: flex;
            position: absolute;
            left: 80px;
            background: rgba($color-background, 0.95);
            border-radius: $br;
            padding: 0.5em 1em;
            opacity: 0;
            letter-spacing: 0.035em;
            white-space: nowrap;
            @include ease-in-out(opacity, 200ms);
        }

        @include hover-focus-active {
            .sidebar__item--tooltip {
                visibility: visible;
                opacity: 1;
            }
        }
    }
    &__items {
        display: flex;
        flex-direction: column;
        width: 100%;
        flex: 1;

        &--bottom {
            display: flex;
            align-items: flex-end;
            flex: 1;
        }
    }
}
