@import 'scss/vars';

.app.LOGIN {
    grid-template-columns: 1fr;
    .app__menu {
        display: none;
    }
}
.loginpage {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &__content,
    &__info {
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    &__content {
        flex: 1 1 33%;
        // background: $color-foreground;
        color: $color-background;
    }
    &__info {
        flex: 1 1 66%;
        position: relative;
        background: linear-gradient(to bottom right, $color-primary 0%, $color-secondary 100%);
        &__background {
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 0;
            opacity: 0.8;
        }
        &content {
            position: relative;
            z-index: 1;
            font-size: fz(2);
            text-shadow: 0 0 5px $color-background;
        }
    }

    &__form {
        width: 300px;
        input {
            background: darken($color-foreground, 10%);
        }
        label {
            color: $color-gray;
        }

        .button {
            float: right;
            margin: 1em 0;
        }
    }
    &__component {
        &--inline {
            display: flex;

            label {
                display: inline-block;
                flex: 1 1 auto;
            }
            input {
                flex: 0 0 auto;
            }
        }
    }

    &__popup {
        @include boxshadow;
        position: absolute;
        z-index: 2;
        left: 50vw;
        top: 50vh;
        max-width: 80vw;
        max-height: 80vh;
        transform: translate(-50%, -50%);
        border-radius: $br;
        background: $color-background;
        padding: 2em;
        line-height: 1.6;
        overflow: auto;

        header {
            font-size: fz(1);
        }
        p {
            margin: 1em 0;
        }
        a {
            color: $color-accent;
            text-decoration: none;
        }
    }
}
