@import 'scss/vars';

.page.LOGIN {
    .page__background {
        left: 0;
        transform: scale(1.3);
    }
}
.loginpage {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &__content,
    &__info {
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    &__content {
        flex: 1 1 33%;
        background: rgba($color-background, 0.9);
    }
    &__welcome {
        display: flex;
        flex-direction: column;
        color: rgba($color-white, 0.65);
        font-size: fz(0);
        line-height: 1.5;
        margin: 1.5em 0;

        &--header {
            font-size: fz(2);
            margin-bottom: 0.5em;
            color: $color-white;
        }
    }
    &__info {
        flex: 1 1 66%;
        position: relative;
        overflow: hidden;
        &__background {
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 0;
            opacity: 0.8;
            filter: blur(5px);
            transform-origin: center;
            transform: scale(1.2);
        }
        &content {
            position: relative;
            z-index: 1;
            font-size: fz(2);
            text-shadow: 0 0 5px $color-background;
            padding: 1em;
        }
    }

    &__form {
        width: 300px;

        label {
            display: inline-block;
            flex: 1 1 auto;
            font-size: fz(0);
            @include ease-in-out(color, 200ms);

            @include hover-focus-active {
                color: $color-white;
            }
        }

        .button {
            flex: 1;
        }
    }
    &__textbox {
        display: flex;
        position: relative;
        align-items: center;

        input {
            padding-left: 3.5em;
            margin: 0;
            background: rgba($color-white, 0.1);
            color: $color-white;
            @include boxshadow;
            @include ease-in-out(all, 200ms);

            &::placeholder {
                @include ease-in-out(color, 200ms);
            }

            &:valid {
                border-color: $color-white;
                & + .icon {
                    color: $color-white;
                }
            }
            @include hover-focus-active {
                color: $color-white;
                border-color: $color-white;

                & + .icon {
                    color: $color-white;
                }

                &::placeholder {
                    color: darken($color-white, 2%);
                }
            }
        }

        &--icon {
            position: absolute;
            left: 1em;
            width: 1.25em;
            color: $color-gray;

            @include ease-in-out(color, 200ms);
        }
    }
    &__component {
        display: flex;
        padding: 0.5em 0;
        &--inline {
            input {
                flex: 0 0 auto;
            }
        }
        &--links {
            display: flex;
            justify-content: center;
        }
    }

    &__logo {
        width: 125px;
    }

    &__popup {
        @include boxshadow;
        position: absolute;
        z-index: 2;
        left: 50vw;
        top: 50vh;
        max-width: 80vw;
        max-height: 80vh;
        transform: translate(-50%, -50%);
        border-radius: $br;
        background: $color-background;
        padding: 2em;
        line-height: 1.6;
        overflow: auto;

        header {
            font-size: fz(1);
        }
        p {
            margin: 1em 0;
        }
        a {
            color: $color-accent;
            text-decoration: none;
        }
    }
}
